# Ignore everything
*

# But not these files
!.gitignore
!docs/
!docs/SVphone_fundamental_design_principles.md
!docs/SVphone_structure_and_function.md
!docs/SVphone_design.md
!docs/websockets_live_voice_video_protocols.md
!docs/bitcoin.pdf
!docs/MEDIA_INITIALIZATION_FIX.md
!docs/MICROPHONE_TESTING_GUIDE.md
!docs/bootcamp/
!docs/bootcamp/**
!docs/old_docs/
!docs/old_docs/**
!prototypes/
!prototypes/SVphone_v05_24/
!prototypes/SVphone_v05_24/**
!prototypes/SVphone_v05_25/
!prototypes/SVphone_v05_25/**
!prototypes/SVphone_v05_26/
!prototypes/SVphone_v05_26/**
!prototypes/SVphone_v05_27/
!prototypes/SVphone_v05_27/**
!prototypes/SVphone_v05_28/
!prototypes/SVphone_v05_28/**
!prototypes/SVphone_v06_00/
!prototypes/SVphone_v06_00/**
!prototypes/SVphone_v06_01/
!prototypes/SVphone_v06_01/**
!prototypes/SVphone_v06_02/
!prototypes/SVphone_v06_02/**
!prototypes/SVphone_v06_03/
!prototypes/SVphone_v06_03/**
!prototypes/SVphone_v06_04/
!prototypes/SVphone_v06_04/**
!prototypes/SVphone_v06_05/
!prototypes/SVphone_v06_05/**
!prototypes/SVphone_v06_06/
!prototypes/SVphone_v06_06/**
!old_prototypes/
!old_prototypes/**
!workflows/
!workflows/**
!archive/
!archive/**
