# Ignore everything
*

# But not these files
!.gitignore
!docs/
!docs/MPT_fundamental_design_principles.md
!docs/MPT_structure_and_function.md
!docs/P_fundamental_design_principles.md
!docs/P_structure_and_function.md
!docs/bitcoin.pdf
!docs/bootcamp/
!docs/bootcamp/**
!docs/old_docs/
!docs/old_docs/**
!prototypes/
!prototypes/SVphone_v00_00/
!prototypes/SVphone_v00_00/**
!prototypes/SVphone_v00_01/
!prototypes/SVphone_v00_01/**
!prototypes/SVphone_v00_02/
!prototypes/SVphone_v00_02/**
!workflows/
!workflows/**
!archive/
!archive/**
