# Ignore everything
*

# But not these files
!.gitignore
!docs/
!docs/MPT_fundamental_design_principles.md
!docs/MPT_structure_and_function.md
!docs/bitcoin.pdf
!docs/bootcamp/
!docs/bootcamp/**
!prototypes/
!prototypes/MPT_v05_20/
!prototypes/MPT_v05_20/**
!prototypes/MPT_v05_21/
!prototypes/MPT_v05_21/**
!prototypes/MPT_v05_22/
!prototypes/MPT_v05_22/**
!prototypes/MPT_v05_23/
!prototypes/MPT_v05_23/**
!archive/
!archive/**
